<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Mission to Mars!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="style.css">
</head>
<body>
<div class = "container-fluid">
    <!--Jumbotron / scrape button-->

    <div class="jumbotron">
        <div calss = "container-fluid">
            <div class = 'row'>
                <h1 class="display-4">Mission to Mars </h1>
            </div>
            <div class = 'row'>
                <a class="btn btn-primary" href="/scrape" role="button">Scrape Mars</a>
                
            </div>
        </div>
        <!--END JUMBOTRON-->
    </div>
    <!--Card Layouts-->
    <!--news card-->
    <div class = "container-fluid">
        <div class = "row">
            <div class="card card1">
                <div class = "card-header">
                Martian News
                </div>
                <div class = 'card-body'>
                    <h5 class = "card-title"> {{input_data.news_title}} </h5>
                    <p class = "card-text">{{input_data.news_p}}</p>
                </div>
            </div>    
        </div>    
    </div>
    <!--weather card-->
    <div class = "container-fluid">
        <div class = "row">
            <div class="card">
                <h4 class = "card-title">Current Weather on Mars</h4>
                <p class = "card-text">{{input_data.mars_weather}}</p>
            </div>
        </div>
    </div>    
    <!--Featured Image Card-->
    <div class = "container-fluid">
        <div class = "row">
            <div class="card">
                <h4 class = "card-title">Featured Mars Image</h4>
                <p class = "card-text"><img src={{input_data.featured_image_url}} alt= "Featured image from Mars"></p>
            </div>
        </div>
    </div>    
    <!--Martian Facts-->
    <div class = "container-fluid">
        <div class = "row">
            <div class="card">
                <h4 class = "card-title">Martian Facts</h4>
                <table>
                    <tr>
                        <th>Facts:</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>{{input_data.mars_table.0.Fact}}</td>
                        <td>{{input_data.mars_table.0.Data}}</td>
                    </tr>
                    <tr>
                        <td>{{input_data.mars_table.1.Fact}}</td>
                        <td>{{input_data.mars_table.1.Data}}</td>
                    </tr>
                    <tr>
                            <td>{{input_data.mars_table.2.Fact}}</td>
                            <td>{{input_data.mars_table.2.Data}}</td>
                    </tr>
                    <tr>
                            <td>{{input_data.mars_table.3.Fact}}</td>
                            <td>{{input_data.mars_table.3.Data}}</td>
                    </tr>
                    <tr>
                            <td>{{input_data.mars_table.4.Fact}}</td>
                            <td>{{input_data.mars_table.4.Data}}</td>
                    </tr>
                    <tr>
                            <td>{{input_data.mars_table.5.Fact}}</td>
                            <td>{{input_data.mars_table.5.Data}}</td>
                    </tr>
                    <tr>
                            <td>{{input_data.mars_table.6.Fact}}</td>
                            <td>{{input_data.mars_table.6.Data}}</td>
                    </tr>
                    <tr>
                            <td>{{input_data.mars_table.7.Fact}}</td>
                            <td>{{input_data.mars_table.7.Data}}</td>
                    </tr>
                    <tr>
                            <td>{{input_data.mars_table.8.Fact}}</td>
                            <td>{{input_data.mars_table.8.Data}}</td>
                    </tr>
                
                </table>
            </div>
        </div>
    </div>    
    <!--Martian Enhanced Hemisphere Images-->
    <div class = "container-fluid">
            <div class = "row">
                <div class="card">
                    <h4 class = "card-title">Featured Mars Image</h4>
                    <p class = "card-text">{{input_data.hemispheres.title.0}}</p>
                    <p class = "card-text"><img src={{input_data.hemispheres.Image.0}} alt= "Featured image from Mars"></p>
                    <p class = "card-text">{{input_data.hemispheres.title.1}}</p>
                    <p class = "card-text"><img src={{input_data.hemispheres.Image.1}} alt= "Featured image from Mars"></p>
                    <p class = "card-text">{{input_data.hemispheres.title.2}}</p>
                    <p class = "card-text"><img src={{input_data.hemispheres.Image.2}} alt= "Featured image from Mars"></p>
                    <p class = "card-text">{{input_data.hemispheres.title.3}}</p>
                    <p class = "card-text"><img src={{input_data.hemispheres.Image.3}} alt= "Featured image from Mars"></p>
                </div>
            </div>
        </div>    
</body>